/**
* sitewide admin styles css
* @author Michael Orji
* @copyright Travelpaddy.com
*/
.inline  { display:inline; }
.inline-block { display: inline-block; }
.block { display:block; }
.text-centered { text-align: center; }
.float-left { float:left; }
.float-right { float:right; }
.clear { clear:both; }
.resize-vertical { resize:vertical; }
.no-border { border:none; }
.bg-right { background-position: right; }
.bg-no-repeat { background-repeat:no-repeat; }
.inner-page-title { text-align:center; color:#000; font-weight:bold; font-size:25px; margin-bottom:15px; }
@media (min-width:1200px)
{
	
}
@media (min-width: 980px) and (max-width:1199px)
{
	
}
@media (min-width: 768px) and (max-width: 979px) 
{
	
}
@media (max-width: 767px) 
{
	
}

